.container#content {
  margin-top: 60px;
}
body {
  background-color: $light-gray;
}
a {
  color: #f38303;
  font-weight: bold;
  &:hover {
    color: rgb(243, 89, 29);
    text-decoration: none;
  }
}
body {
  font-family: $site-font;
}
h1 {
  margin-bottom: 20px;
  text-align: center;
}
.navbar {
  background-color: white;
  // border-right: 1px solid rgba(0, 0, 0, 0.4);
  // border-left: 1px solid rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  line-height: 1;
}
.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-brand {
  color:#f38303;
  &:hover {
    color:rgb(236, 25, 10);
  }
}
ul {
  list-style: none;
  padding: 0;
}
